
@{
    ViewBag.Title = "Index";
}


<hr />
<hr />
<h2>Admin Menu</h2>
<li>@Html.ActionLink("View Inventory","AdminInventory","Admin")</li>
<li>@Html.ActionLink("Add a new vehicle", "AddVehicle", "Admin")</li>
<li>@Html.ActionLink("Add Make", "AddMake", "Admin")</li>
<li>@Html.ActionLink("Add Model", "AddModel", "Admin")</li>
<li>@Html.ActionLink("Reports", "Index", "Reports")</li>

